.nav-link:hover{
    background: #fae25e;
    color: #fff;
    font-weight: bold;
    
}
.nav-link{
    
    text-decoration: none;
   display:block;
}
#menu ul {
    list-style-type: none;
    overflow: hidden;
    width: 100%;
    list-style-type: none;
  text-align: center;

}
#menu li {
    color: #f1f1f1;
    float: left;
    width: 120px;
    height: 40px;
    line-height: 17px;
  }
